[2017-09-18 19:08] apathan123 opened #107 "screenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(100)).takeScreenshot(driver); thorws exception"
Hi
I am using chrome and with below code it is throwing an exception Below is the trace of teh error I get in debug mode.

screenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(100)).takeScreenshot(driver);

Throws....
java.lang.NoSuchMethodError: org.apache.commons.io.IOUtils.toString(Ljava/io/InputStream;Ljava/nio/charset/Charset;)Ljava/lang/String;
	at ru.yandex.qatools.a

[2017-09-20 12:36] pavelkotau opened #108 "Is it possible to ignore flashing cursor in the input fields?"
after opening of proper page (let it be Login Page) cursor always flashing inside the login input field, and it is like 50/50 for passing a test or not. Is there any solution to ignore this flashing cursors inside input fields?

[2017-10-04 06:34] marvelfrozen commented on #108
How about you click somewhere on the page before taking the screenshot?

[2017-10-06 08:18] pavelkotau commented on #108
@gavrilfb It seems that it only the way to do that. But because ignoring specific color it is not the best idea, I think.

[2017-10-06 14:23] pavelkotau opened #109 "Can't compare screenshots ignoring an element."
Hello, everyone. I'm stacked and can't proceed with ignoring web element.

I have the next code:

`

    public class Ashot extends PageObject {
    @FindBy(xpath = "html/body/div[2]/div[2]/section")
    private WebElementFacade ignoredElement;

    ShootingStrategy mac = viewportRetina(100, 0, 0, 2);

    @Test
    public void ignoredElementTest() throws Exception {
        takesEntireScreenshotA

[2017-10-09 14:51] pazone commented on #109
Hi, @pavelkotau. AShot is already have a solution to compare screenshots. Your method `areImagesBytesEqual` just compares two DataBuffers and it doesn't know anything about ignored elements. This information is stored in `Screenshot` object. Please, consider the [comparison](https://github.com/yandex-qatools/ashot#screenshot-comparison) part of readme. Just use  `ImageDiffer` which consumes two `S

[2017-10-11 13:30] vinaygutta1 opened #110 "the scrolling web page screenshots taken in IE11 with selenium 3.5 and ashot is not working. it is creating partial image."
the scrolling web page screenshots taken in IE11 with selenium 3.5 and ashot is not working. it is creating partial image.

IE Version: 11
Selenium Version: Version 3.5.3
OS: 2012 R2 server
Java: 1.8

The below is the code used.

final Screenshot screenshot = new AShot()
                    .shootingStrategy(ShootingStrategies.viewportPasting(1000))
                    .takeScreenshot(driver);

[2017-10-13 11:58] pazone commented on #110
Hi, @vinaygutta1. Could you please attach a screenshot example?

[2017-10-13 11:58] #109 closed, assigned to nobody

[2017-10-13 13:10] pazone commented on #108
@pavelkotau Sure. Ignoring special colors may produce false-negative test results. Could you please describe how do you use selenium? I should say that you can avoid this and a lot of similar problems using proper selenium server configuration. Try [Seleniod](https://github.com/aerokube/selenoid) or similar solutions. It has simple configuration and provides reliable autoscaling facility for selen

[2017-10-13 13:10] #108 closed, assigned to nobody

[2017-10-16 10:04] dqlambor commented on #110
![20171016_16_42_36](https://user-images.githubusercontent.com/27811176/31606621-d76fe832-b293-11e7-8ef9-e05036ab7651.png)
Hi @pazone , I got the same issue here.
AShot just take the last view of the entire page.
Here's my code:
try {
							Screenshot fpScreenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(1000))
									.takeScreenshot(driver);
							Thread.sleep(3000);

[2017-10-16 12:49] pazone commented on #110
As far as I remember you don't need to use `ShootingStrategies.viewportPasting(1000)` strategy. `new AShot().takeScreenshot(driver);` would have been enough.

[2017-10-17 07:32] dqlambor commented on #110
I tried strategy. new AShot().takeScreenshot(driver) and it can only get the screenshot of top screen of the page ( without  scrolling down)

[2017-10-18 09:16] rovner commented on #110
@dqlambor, By default ie driver resizes browser window during screenshooting to document dimensions, so the whole document should be screenshooted with `new AShot().takeScreenshot(driver)`. But this could be not the case for some adaptive layouts and can be disabled with capability ie.enableFullPageScreenshot=false. Then you could try to capture screenshot with ` new AShot().shootingStrategy(Shoot

[2017-10-18 09:24] pazone commented on #110
@dqlambor Could you please share the link to this page? I suppose that it can be uncommon.

[2017-10-19 07:03] dqlambor commented on #110
Hi @pazone ,
Sorry that I can't share the link.
But I've tried with the current page https://github.com/yandex-qatools/ashot/issues/110 and still get the same issue.
![home_test](https://user-images.githubusercontent.com/27811176/31758112-4ad740a6-b4d6-11e7-81c5-addd773ce464.png)

[2017-10-19 07:20] dqlambor commented on #110
@rovner , Thank you
I've writen some codes for taking whole page screenshot, it works but not good as expect :)

[2017-10-19 09:58] #110 closed, assigned to nobody

[2017-10-19 09:59] pazone commented on #110
@dqlambor Could you please share your solution? Have you created a new shooting strategy?

[2017-10-20 10:38] dqlambor commented on #110
@pazone : my solution is get the height of the page using Webelement eleHtml.getSize().getHeight();
then get driver screenshot > PageDown
then get driver screenshot > PageDown
then get driver screenshot > PageDown
...
until the end of page.
Each screenshot was drawed into an ImageBuffered using graphic.drawImage();
After that I got the result as expected :)

[2017-10-30 22:04] SiKing opened #111 "not working in Selenium 3.6"
Just tried this with:
- AShot 1.5.4
- Selenium 3.6.0
- Chrome 63

Taking shots of elements, screenshots are way off - different parts of the screen.

[2017-10-30 22:24] SiKing commented on #111
It's my first time working with screenshots. I got here from https://stackoverflow.com/a/33446432/3124333
Using the accepted answer in that same question (https://stackoverflow.com/a/13834607/3124333), results in the same (wrong) screenshot. So at this point I have to assume the problem is on my end.

[2017-10-30 23:31] SiKing commented on #111
Chrome is definitely calculating the position of the element _differently_. I found these discussions on SO: https://stackoverflow.com/q/24862779/3124333 and https://stackoverflow.com/q/37882208/3124333 and I can confirm their findings.
I just cannot find a workable solution.

[2017-11-07 15:51] sumanthmattapali opened #112 "Appium Support"
Hi Guys,

This is more enhancement than an issue. I am just wondering whether Ashot supports android and ios apps?

[2017-11-21 09:14] gauravevive opened #113 "Issue with Chrome driver"
Hi this is my command :
Screenshot screenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(100000)).takeScreenshot(driver);
            ImageIO.write(screenshot.getImage(),"PNG",new File(locationPath+imageNameWithExtension));

Im getting this overlapped image (attached ) any help is appreciated
![webscriptprogress](https://user-images.githubusercontent.com/32628906/33064037-70

[2017-11-28 11:16] havrylenkok opened #114 "Absolutely incorrect ImageDiff when using with IgnoreAreas"
I have two screenshots of the same page of the same size. I'm trying to find diff on them with ImageDiff but adding offset from the top 200px.

[code]

But instead of correctly marked diff image i'm getting png file of double size (1280x746 *2 = 2560x1492) and everything marked as wrong. See [here](https://monosnap.com/file/qCO9LSBR3P4UGJw1Xnnee3mvbv42f5) for an example.

[2017-12-04 12:10] userraj opened #115 "Windows 10, chrome"
Using Ashot i am trying to take screenshot for web element use below code in MAC with chrome it is working but while coming to Windows 10 with Chrome it is no taking correct element. Look in to this and give better solution

CODE:

WebElement AURL = driver.findElement(By.xpath(".//*[@id='missed_mcontent']//*[@id='visitordata/div[4]/span"));
Screenshot test5 = new AShot().takeScreenshot(driver, AUR

[2017-12-14 09:59] JakFlew opened #116 "How to remove the scrollbar ?"
When a page is captured, a scroll bar appears on the right side. How do you get rid of it?

[2017-12-15 08:35] vpinv commented on #116
I think you can increase the delay after every scroll to get rid of scrollbar

[2017-12-21 07:49] JakFlew commented on #116
Can you explain it in detail?

[2018-01-04 05:39] sasikumar76 opened #117 "AShot().takeScreenshot - org.openqa.selenium.WebDriverException: unknown error: Cannot read property 'offset' of null"
public WebDriver driver;
System.setProperty("webdriver.chrome.driver","/Applications/webdriver/chromedriver");
driver = new ChromeDriver();

i) Screenshot myScreenshot = new AShot().takeScreenshot(driver,multiportal); **// in Chrome
throws below error ,**

ii) **Below code works for me ,** but assert fails ,have attached the images for reference,

![diffimage](https://user-images.githubusercontent

[2018-01-04 09:31] sasikumar76 commented on #117
selenium -3.8.1

ashot - 1.5.2 jar

[2018-01-09 10:40] sasikumar76 opened #118 "Not able to take screenshot of particlular element in Chrome"
When i use Ashot with selenium to capture screenshot for particular webelement,its not working.

I have also attached the logs for reference.

Screenshot for taking full page is working.

Iam using Chrome Driver ,selenium 3.8.1 standalone jar, Ashot 1.5.2 jar.

     @Test

    public void launchBrowser()
    {

       System.setProperty("webdriver.chrome.driver","/Applications/webdriver/chromedriv

[2018-02-12 17:38] klementynka commented on #112
This question is very interesting for me too :)

[2018-02-12 19:10] sachingainewar commented on #112
Yes i am also interested to know.. i tried this but end up so many errors

[2018-03-08 10:36] harithapavuluri opened #120 "When two images has diff , how to find what is the difference in the images"
Hi ,

 I am working on Ashot from past 5 days. I found  it very useful for comparing  two screenshot images. When I had see what is the difference in the image , there is no clear way to find difference in image. I copied my code below and attached screenshots what i am referring to.

package sikulixapi;

import java.awt.image.BufferedImage;
import java.io.File;
import java.io.IOException;
import

[2018-03-08 10:37] harithapavuluri commented on #120
![localdemo](https://user-images.githubusercontent.com/17870693/37146776-c69484c4-22ea-11e8-8d3d-6ba42b0f31cc.png)

[2018-04-05 11:28] harithapavuluri commented on #120
Can any one please comment on this issue

[2018-04-07 05:47] harithapavuluri commented on #120
I got it working ,  a small mistake in my code. Hence closing this bug.

[2018-04-07 05:47] #120 closed, assigned to nobody

[2018-04-16 19:29] the-mgk commented on #120
Hi,
what was the bug? I'm interested in doing something similar.

[2018-04-25 06:20] swathiJaya commented on #118
Hi,
I am facing the same issue, is it working for you now?

[2018-05-16 14:57] ksiv opened #122 "Gson exception "not such method" :: installation guide improving"
Ашот 1.5.2
Have not been working without:

****
java.lang.NoSuchMethodError: com.google.gson.GsonBuilder.setLenient()Lcom/google/gson/GsonBuilder;
	at org.openqa.selenium.json.Json.<clinit>(Json.java:35)
	at org.openqa.selenium.logging.profiler.HttpProfilerLogEntry.constructMessage(HttpProfilerLogEntry.java:37)
	at org.openqa.selenium.logging.profiler.HttpProfilerLogEntry.<init>(HttpProfilerLogEnt

[2018-05-27 15:27] menaheme commented on #113
Also experiencing this issue

[2018-06-04 10:22] dipakbachhav opened #123 "Exception in thread "main" java.lang.NoClassDefFoundError: org/hamcrest/Matcher"
Getting issue while comparing two images. Actually, when two images are different in that case I was expecting my assertion should be failed and print my error message like Images are different but at the moment facing issue:

Code :
[code]
[code]

[2018-06-05 08:49] swaradewarde opened #124 "Not able to capture full screenshot after scrolling down on ubuntu using ashot"
Hi guys,
I need to take full screenshot of a web application by scrolling down. I have used Ashot to achieve same, check below code

final Screenshot screenshot = new AShot().shootingStrategy(ShootingStrategies.viewportRetina(100,0,0,2)).takeScreenshot(driver);
        final BufferedImage image = screenshot.getImage();
        try {
            ImageIO.write(image, "PNG", new File(fileNameToCopy))

[2018-06-05 14:50] jofisiva opened #125 "Is plugin will work on angular js ?"
I am trying to capture the screenshot of full page.It was working fine with HTML code.
However, in angular, it won't.

Any thoughts?

[2018-06-07 13:17] maheshme12 opened #126 "Full page screenshot"
I tried to get full page screenshot, I am able to do that but if the page has fixed header, the header is getting repeated. I know we scroll and take a screenshot and append to one image but can we get a full page screenshot without repetitive headers. The code I am using is:

`
static void takeScreenShot() throws InterruptedException, IOException {

        System.setProperty("webdriver.chrome.dr

[2018-07-19 02:38] TariqueKhanANX opened #127 "Full page screenshot is not working in MAC OSX High Sierra (all browsers)"

[2018-07-30 06:18] kishoreccaus opened #128 "Unable to capture the url of the page in the screenshot using ashot"
Hello Guys,

Is it possible to capture the url of the page in the screenshot, bcoz the issues is sometimes the links are pointed to incorrect environments and we are able to identify that only in the url. Pls find below my code which I am using the capture the screenshots, but I am unable to capture the url part of the screenshot.

Screenshot fpScreenshot = new AShot().shootingStrategy(ShootingStr

[2018-07-30 10:16] DudchenkoGA opened #129 "Can I increase the intensity of blur? (Question / suggestion)"
Hi!
Is it possible to increase the intensity of the blur of the elements? Due to the design of the front, blurring is not as obvious as I'd like. If not, do you have any plans to implement this possibility?

Возможно ли увеличить интенсивность размытия элементов? Из-за дизайна фронта, размытие становится не таким очевидным, как хотелось бы. Если нет, нет ли у вас в планах реализации этой фичи?(вдр

[2018-08-20 03:17] ubermensch01 commented on #128
@kishoreccaus AShot only takes a screenshot of the viewport of the browser, it doesn't make a screenshot of the browser itself. To capture the url of the browser at the time of making a screenshot use WebDriver's `getCurrentUrl()` method (`driver.getCurrentUrl()`).

[2018-09-01 17:04] 2Frez commented on #113
Faced with this problem too. How to deal with that?

[2018-09-03 04:11] clearstep1 commented on #113
I also faced this problem on Chrome. But the full image is fine if we run in headless mode:

ChromeOptions options = new ChromeOptions();
options.setHeadless(true);
driver = new ChromeDriver(options);

[2018-09-04 14:14] ketanna opened #130 "Unable to capture screenshots under new folder by creating it in runtime using AShot utility"
I did create 'PassedTestSuiteScreens' folder in my project base directory, and I wanted when each day I run my scripts I want to create a new folder under this with folder name as "Today'sDate" ex: 04_09_2018 and paste all passed test screens under that.

I have below exception as it didn't find the specific path:-

java.io.FileNotFoundException: C:\Users\ketanna\Desktop\Test-Automation\CRMTestPro

[2018-09-05 06:44] kazurayam commented on #130
I suppose you need to create the parent directory yourself.

[code]

Commons IO's [FileUtils.copyFile](https://commons.apache.org/proper/commons-io/javadocs/api-2.5/org/apache/commons/io/FileUtils.html#copyFile(java.io.File,%20java.io.File)) creates directory automatically.

[2018-09-05 08:34] ketanna commented on #130
Thanks! It works.

[2018-09-05 08:34] #130 closed, assigned to nobody

[2018-09-06 11:51] ruska2 opened #131 "Full screenshot of scrollable element not working"
Simple screenshot of web element is working.
Full scroll-page screenshot is working too.

I would like to make scroll-screenshot of single webElement, but its no working. I tried it like this:
Screenshot screenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(1000)).takeScreenshot(webDriver,element);

It is taking screenshot without scrolling.

[2018-09-06 14:09] GarryGaGarry opened #132 "addIgnoredElement not work"
Hi, I'm trying to ignore the element, but my test still falls. On test.jpg I see that the element that I'm trying to ignore is marked in red. Please help me

[code]

[2018-09-06 15:11] GarryGaGarry commented on #132
[code]

I was helped by these lines, please make the method compileIgnorAreas public

[2018-09-13 10:04] naruoga commented on #110
Hello, with my short guessing, the following patch to `ViewportPastingDecorator.java` might solve this issue:

[code]

The patch below is also needed to modify `pom.xml` to use `InternetExplorerDriver`, change dependency from `selenium-remote-driver` to `selenium-java`, but I haven't done any backward-compatibility test yet...

[2018-10-08 17:35] fagnerpaes commented on #124
Hi @swaradewarde!

Did you get resolve that problem? Because I have be this problem too. Thanks!

Details
OS: Linux version Ubuntu 16.04
Selenium Version: 3.7.1
Browser: Google Chrome 69 (Headless)
chrome drive: 2.4.1

[2018-10-10 13:49] csfedorov opened #134 "Element comparison does not work"
I am comparing tooltip element in popup window, but image result is not cropped.
The result is an image from the screen. If you use a MonochromeFilter , you can see that the coordinates for the comparison are not correct (screenshot below).
Either the coordinates are calculated incorrectly, or the image must be cropped.

At the bottom of the page, click the first item in "You watched" (Вы смотрели

[2018-11-15 12:07] natalygoloborodko commented on #116
Add this line to the import section in your class:
`import org.openqa.selenium.JavascriptExecutor;`

And add this line inside your method before taking the screenshot:
`((JavascriptExecutor) driver).executeScript("document.body.style.overflow = 'hidden';");`

It worked for me.

[2018-11-15 12:18] natalygoloborodko commented on #126
Well, in my case AShot couldn't hide/ignore/cur off the header. But I foud the solution by using the JavascriptExecutor.

If header is fixed only by css styles i add this code to your test after opening the required page:
`JavascriptExecutor js = (JavascriptExecutor) driver;
 WebElement header = driver.findElement(By.xpath("xpath-of-your-element"));
 js.executeScript("arguments[0].setAttribute('st

[2018-11-21 07:04] Kiera11 commented on #132
@GarryGaGarry Can you please explain to me how did u use it..
I am still new to selenium.. if u could please just explain to me how did you get it finally working?

[2018-11-22 09:47] Kiera11 commented on #112
Hi,

Any update on this does Ashot supports android and ios apps?

Thanks,

[2018-11-23 10:08] Shashi-GS opened #135 "not able to take all the web elements of the screen shot from phantomjs driver."
Hi,

  I am not able to capture all the div elements of a page screen shot from the phantomjs driver.  1st div element will create the screenshot, for 2nd element onwards it will throw element not found from selenium due to the screenshot execution code. If I comment the Ashot screen shot execution code the elements are present,

for (final WebElement lement : rows) {
					final WebElement divElem

[2018-11-23 10:12] Shashi-GS commented on #135
This is the driver instantiation code.

final DesiredCapabilities caps = new DesiredCapabilities();
		caps.setCapability(PhantomJSDriverService.PHANTOMJS_EXECUTABLE_PATH_PROPERTY,	driverLocn);
		caps.setJavascriptEnabled(true);
	    caps.setCapability("takesScreenshot", true);
		final WebDriver driver = new PhantomJSDriver(caps);
		driver.manage().window().maximize();
		driver.manage().timeouts().

[2018-11-30 13:05] fescobar commented on #107
@apathan123 that is a problem with your dependencies. Try to add the dependency where is org.apache.commons.io.IOUtils

[2018-11-30 13:19] fescobar opened #136 "Full screenshot - EDGE- Why do you get the pageHeight and pageWidth using javascript command?"
I'm trying to take a full screenshot for EDGE. It works for CHROME/FIREFOX at least.
[code]

When I tried to do that using EDGE, throws this error:
[code]

I see you are getting the size using javascript:
https://github.com/pazone/ashot/blob/master/src/main/java/ru/yandex/qatools/ashot/shooting/ViewportPastingDecorator.java#L67

I think this error happened because that method can't execute javascr

[2018-12-01 01:57] mcafeerun commented on #125
This looks so cool 😎..
Did we have any potential plan to extend this for NodeJS (protractor/SeleniumJS)?

[2019-01-08 19:17] apathan123 commented on #107
This is sorted ..Thanks

[2019-01-08 19:17] #107 closed, assigned to nobody

[2019-01-08 19:23] apathan123 opened #138 "Trying to use Ignore Element but not sure how to set that for saved PNG reference image"
I am trying to use ignore element while saving scrennshot which is compared with already saved image. But while execution it is not ignoring that area. Is there a way to handle this?

[2019-01-10 16:40] shareddrive2000 opened #139 "My element is 200px * 40px but i want to capture 220px * 40px, but how?"
My element is 200px * 40px but i want to capture 220px * 40px, but how?

[2019-01-16 07:16] drundanibel opened #140 "Using Filter without cropping the Screenshot"
Is there a way to apply a filter to a WebElement without cropping the surrounding rest of the screenshot at a defined distance? I would like to keep the original screenshot in full size. Is this possible?

_Originally posted by @drundanibel in https://github.com/pazone/ashot/issues/79#issuecomment-454427233_

[2019-01-16 07:27] drundanibel commented on #140
Okay, I'll answer it myself: Now I have simply passed a utopian high value 3000 as parameter to IndentCropper(). Contrary to my assumption that this would add the required space to the screenshot, the result is the desired image with the original dimensions. :)

[2019-01-27 20:38] JAnton101 commented on #136
Don't experience this issue with MS Edge. Use the same code.
Use selenium-java version 3.141.59.

But I experience this issue with IE11:

[code]
Part of stack trace:
[code]

[2019-01-28 11:20] JAnton101 commented on #138
Hi, yes.

Also, please share your code which is used for comparing.

I think you've missed this:
`expectedScreen.setIgnoredAreas(screen.getIgnoredAreas());`

Try this, it works for me:
[code]

As you see the main idea that you should transfer all data about compared and ignored element from actual screen to expected before ImageDiffer().

And I see that this moment is missed in the guide for this

[2019-01-29 10:14] apathan123 commented on #138
Yes that was the issue. It worked now Thanks!!

[2019-01-29 10:14] #138 closed, assigned to nobody

[2019-02-08 12:44] smiryala opened #143 "Page is not scrolling for a specific application URL, where as it is scrolling for other application URLs in Chrome"
![screenshot](https://user-images.githubusercontent.com/47450743/52479262-0cd42d80-2bce-11e9-858b-9ce535ce5e41.png)

[2019-03-02 02:34] josepj opened #144 "Modal over a scrollable page not getting captured correctly"
When a modal is present over a scrollable page, the underlying page is captured correctly, but the modal is not. Please refer screenshot below.

![image](https://user-images.githubusercontent.com/9464895/53676148-282dd800-3c64-11e9-982c-4896d4ed6da2.png)

[2019-03-05 16:48] Sintrias opened #145 "WARNING: Augmenter should be applied to the instances of @Augmentable classes or previously augmented instances only"
So, I know there have already been issues opened up about this, but none of the threads seem to address the issue and how to fix it. The code I am using is very simple and, according to the AShot beginner's guide, should be working with no problem. The WARNING I get comes from the ".takesScreenshot(driver)" part of the code. I am using this in automated test scripts and what's weird is that the sc

[2019-03-08 19:26] Sintrias commented on #145
Guess I won't be using this API since support for it isn't that great. Thanks for the attempt at a good screenshot API though. Sorry it barely misses being useful.

[2019-03-13 19:50] Sintrias commented on #145
UPDATE: So it looks like there is a newer version of AShot Maven Dependency that is not listed in the documentation here. The newest version I found is 1.5.4 but the Maven Dependency shown is 1.5.2. It looks like 1.5.4 is working great. Thanks for the great tool @pazone.

[2019-03-13 19:51] #145 closed, assigned to nobody

[2019-03-13 20:29] AbanoubErian commented on #110
Hi,
Actually i was facing the same issue with ashot while taking a screenshot for a full page on IE11 and after investigations i found that it seems that the root cause of this problem is related to the latest version of ashot 1.5.4, and its command which is
"new AShot().shootingStrategy(ShootingStrategies.viewportPasting(1000)).takeScreenshot(driver);"
so as a work around i used the old ashost ve

[2019-03-15 08:39] mivola commented on #112
Hi guys,

anyone tried to use it for native apps on Android/iOS (i.e. using MobileElement instead of WebElement) yet?

Thanks
Michael

[2019-03-18 08:05] varivoda commented on #131
I have the similar problem.

ViewportPastingDecorator use `scrollTo` method but i have to use targetElem.scrollTo for correct screenshot

[2019-03-20 10:32] lyzhovnik commented on #144
Hi, have the same trouble, any ideas ?

[2019-03-20 20:47] Sintrias opened #146 "Out of Memory Error From Large Screenshots"
I really like this tool so far. The only issue I see now from it is that when a page is large and in turn the image is large, it causes an Out of Memory Error even with 1GB of reserved memory. I don't suppose there is any way to store the image in a file a little at a time to avoid this issue.

[2019-04-06 03:39] JimTyrrell commented on #127
I think I am seeing this.

I am running versions
<dependency>
    <groupId>ru.yandex.qatools.ashot</groupId>
    <artifactId>ashot</artifactId>
    <version>1.5.2</version>
</dependency>
<dependency>
    <groupId>ru.yandex.qatools.ashot</groupId>
    <artifactId>ashot</artifactId>
    <version>1.5.4</version>
</dependency>

with
	<dependency>
        <groupId>org.seleniumhq.selenium</groupId>

[2019-05-14 17:16] eugenechang2002 opened #147 "Not able to get web element screenshot correctly."
Hi,
Using the latest downloaded chrome driver and chrom browser version 74.0.3729.131, the ashot does not take screenshot for selected webelements correctly, when tried on MacBook Pro

For example, I tried the google page attached. The google image, google search input and google search button are not specifcally or completely taken, as shown in attached zip file.

Kindly check if anyone see same

[2019-05-15 06:33] rachanb commented on #118
Take the screenshot of a specific element with co-ordinates Provider. Below code should work.

Screenshot  myScreenshot = new AShot().coordsProvider(new WebDriverCoordsProvider()).takeScreenshot(driver, specificElemement);

[2019-06-04 13:40] ReddyManjunath opened #148 "Image comparison is failing for same image if images pixels are different"
Scenario : Image comparison on different browsers

1.Launch the URL in IE browser and capture the screenshots image 1
2.Launch the same URL in Chrome browser and capture image 2
3.Compare Image 1 and Image 2

Issue: Image comparison is failing for the same image but both the image pixels are different.

Image 1 pixel : 1006*614
Image 2 pixel : 1366*657

How to overcome this issue, also is there an

[2019-06-04 13:58] ReddyManjunath opened #149 "Unable to capture screenshot for new window/tab,captures current window only"
Steps:

1.Launch the URL and click on the left navigation's
2.Opens the new window and load the page
3.Capture the screenshot for new window

Could you please us to resolve this issue ?

Tried with the below options,still have an same issue

1. Screenshot screenshot = new AShot().takeScreenshot(driver);
2. Screenshot screenshot = new AShot().coordsProvider(newWebDriverCoordsProvider()).takeScreens

[2019-06-06 08:48] AppiumIOSRuser commented on #110
Hi @naruoga ,
For me the below Changes worked without changing the Pom.xml
I have updated These Methods: **getScreenshot** and **getCurrentScrollY** like below

 @Override
    public BufferedImage getScreenshot(WebDriver wd, Set<Coords> coordsSet) {
    	String browserName ="empty";
    	JavascriptExecutor js = (JavascriptExecutor) wd;
    	try {

            Capabilities cap = ((RemoteWebDriver)

[2019-06-06 11:13] naruoga commented on #110
Hm, it seems nice than my patch to check IE within JS code.  I'll try to update mine later (if I have free time :)

[2019-06-07 07:59] miscsuresh commented on #123
I am also facing the same issue

[2019-06-13 13:09] valfirst opened #150 "Is this project still alive?"
Hi @pazone, team!

The last commit on the master has more than one year. The number of issues in this repository is growing and it seems  the project isn't actively maintained.

Is this project still alive? I would like to contribute, as we implemented many features covering existing issues

[2019-07-24 07:40] Debanjan-B commented on #122
Downloading and adding `gson-2.8.5.jar` solved the issue.

[2019-07-29 20:41] snehalharde opened #151 "Screenshot returned is zoomed in and starts at wrong points"
Actual Image:
[
![ashot-qq](https://user-images.githubusercontent.com/34312893/62080904-895fd480-b21f-11e9-81af-b7b5b946ca27.png)
](url)

**Code for screenshot is:**
[code]

**CODE which is calling the screenshot is:**
[code]

[code]

 ` private static BaseWebElement loginPanelCss = new BaseWebElement("#login>div:nth-child(4)>div>div.loginPanelOuter>div>div.formPanel", "css");`

Expected Image:

!

[2019-08-12 10:49] JAnton101 commented on #151
`ShootingStrategies.scaling(200)` why do you use it?
Have you tried it with the default Shooting strategy and what Webdriver (I mean Chrome or FireFox) do you use?
Is it an animated element?
If yes, have you tried to add timeout?
Are you sure in your CSS locator?

[2019-08-12 10:55] JAnton101 commented on #148
Hi, overall it's a bad idea to compares screenshots across different browsers because of the nature of this type of software. Each browser uses own engine with own rendering rules, thus it's quite hard to achieve pixel perfect layout on different browsers, more you are able to google by words "Why does my website look different on different browsers?"

Thus it's not a bug, it's a feature, just kee

[2019-08-12 12:39] JAnton101 commented on #144
It looks like the same problem has been already described here https://github.com/pazone/ashot/issues/131.
But I l also faces this issue, I haven't found a proper solution, it might be a moment which wasn't developed in a proper way in this library.

On this moment I managed with it by capturing pop-up which has a size not greater than a working area and before it I called scroll up for Chrome.
If

[2019-08-12 15:00] yvasylenko commented on #144
Why don't you just try to change a shooting strategy for one without scroll? Or modal is greater than viewport size?

[2019-08-16 16:57] Shardeboomi commented on #151
It was a screen resolution issue. i used scaling to manage it.

[2019-08-16 17:51] Shardeboomi opened #152 "java: incompatible types: ru.yandex.qatools.ashot.shooting.ShootingStrategy cannot be converted to ru.yandex.qatools.ashot.screentaker.ShootingStrategy"
![image](https://user-images.githubusercontent.com/53485383/63185953-3791b980-c029-11e9-8842-41fc6fbab898.png)

[2019-08-16 17:54] kazurayam commented on #151
Do you use Windows10?
I have ever experienced a problem that Windows10's View Display setting may affect taking screenshots. See the following:
- https://forum.katalon.com/t/taking-entire-page-screenshot-using-ashot-in-katalon-studio/12429/13

[2019-08-16 18:04] Shardeboomi commented on #152
Browser is chrome
![image](https://user-images.githubusercontent.com/53485383/63188182-bccb9d00-c02e-11e9-9e0b-088871905ebc.png)

[2019-08-27 10:21] knsaicharan opened #153 "Unable to capture image on katalon studio(Web Driver eEception)"
org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command. Original error: io.appium.uiautomator2.common.exceptions.TakeScreenshotException: Failed to capture a screenshot. Does the current view have 'secure' flag set?
	at io.appium.uiautomator2.utils.ScreenshotHelper.takeDeviceScreenshot(ScreenshotHelper.java:126)
	at io.appium.uiautomator2.utils.S

[2019-08-27 10:23] knsaicharan commented on #153
Katalon: 6.3.2
JAVA version: 1.8.0_144
appium version : 1.14.2
Node js : 10.6.3

[2019-09-05 00:45] pazone commented on #150
Hi @valfirst. All contributions are highly appreciated and I will be happy to make a new release with new features. Thanks!

[2019-09-05 00:45] #150 closed, assigned to nobody

[2019-09-13 13:29] aymen3redlean opened #157 "Image comparison is failing for same image in same navigator due to Pixels difference"
Hello,

we use ashot in selenium project to compare two images in a specific test case.

In same case, the image are the same but image comparison fails due to Mismatched pixels

Is the any way to fix this? Or to reduce sensibility in image comparison?

[2019-09-18 14:02] sridhar73-hub opened #158 "I used ashot in mobiles but it is giving different screenshots in Android and IOS."
Screenshot Screenshot = new AShot().shootingStrategy(ShootingStrategies.viewportRetina(1000, 0, 0, 4.0f)).takeScreenshot(webdriver);

Above code working in android but In IOS not working.
![4](https://user-images.githubusercontent.com/55492661/65155334-be7fea80-da4a-11e9-8af7-6339c53c1d08.png)

In android i am getting screenshot like above.

![4](https://user-images.githubusercontent.com/55492661/

[2019-09-18 14:04] sridhar73-hub commented on #158
Second screenshot in IOS.

[2019-09-18 14:14] valfirst commented on #158
@sridhar73-hub try to change dpr to 2.0 for iOS:
[code]

[2019-09-18 16:48] sridhar73-hub commented on #158
Thannk you @valfirst it is working in IOS but in android not taking complete screen, i mean Half of the page from let to right like below

![4](https://user-images.githubusercontent.com/55492661/65168086-69030800-da61-11e9-820d-c58bae96ab57.png)

Working in IOS But it is taking header and footer also for every capture, like below.

![4](https://user-images.githubusercontent.com/55492661/65168435-2

[2019-09-18 18:26] valfirst commented on #158
@sridhar73-hub you should use different dpr values, different devices/emulators have different dpr-s

[2019-09-18 19:36] sridhar73-hub commented on #158
okay, working fine Thank you @valfirst.

[2019-09-18 20:16] #158 closed, assigned to nobody

[2019-09-19 11:47] valfirst commented on #157
@aymen3redlean could you please provide more details? what is actual reason of the mismatch in your case?

[2019-09-19 14:14] aymen3redlean commented on #157
Hello,
According to the comparison, there are some pixels were be shifted from their original positions.
Is there a way to ignored this case and say that the two images are same?

[2019-09-19 14:16] valfirst commented on #157
@aymen3redlean do you have any idea why pixels are shifted? also could you please post the code you use to compare images?

[2019-09-19 14:27] aymen3redlean commented on #157
The screenshots are the same but taken in different time which can be the origin of the shift.

Please find in below the comparison code:

[code]

[2019-09-19 14:40] valfirst commented on #157
@aymen3redlean you can try changing the value of diff size trigger:
[code]

[2019-09-19 14:44] valfirst commented on #153
@knsaicharan it doesn't look like aShot specific issue, the error shows that server-side part is not able to capture screenshot. Is the issue still reproduced?

[2019-09-19 14:46] valfirst commented on #152
@Shardeboomi which version of aShot do you use?

[2019-09-19 14:48] valfirst commented on #151
@Shardeboomi is the issue still reproduced?

[2019-09-19 15:08] Shardeboomi commented on #152
Yes , I use windows. However compile did not have problems so I checked in
successfully in my project.

On Thu, Sep 19, 2019, 10:46 AM Valery Yatsynovich <notifications@github.com>
wrote:

[2019-09-19 15:09] Shardeboomi commented on #151
This was due to screen resolution.

On Thu, Sep 19, 2019, 10:48 AM Valery Yatsynovich <notifications@github.com>
wrote:

[2019-09-19 15:09] snehalharde commented on #151
It was screen resolution issue.

On Thu, Sep 19, 2019, 10:48 AM Valery Yatsynovich <notifications@github.com>
wrote:

[2019-09-19 15:18] valfirst commented on #152
@Shardeboomi sorry, I didn't really get your answer, is the issue reproduced?

[2019-09-19 15:18] #151 closed, assigned to nobody

[2019-09-19 15:24] valfirst commented on #149
@ReddyManjunath do you switch to a new window using Selenium WD before taking screenshot?

[2019-09-20 07:18] #148 closed, assigned to nobody

[2019-09-20 07:57] #128 closed, assigned to nobody

[2019-09-25 14:19] Shardeboomi opened #161 "takeScreenshot(WebDriver driver, WebElement elements)"
To define webelements , my framework has baswebElement class that extends webelement class.
when i pass the baswebelements, i get bad argument error.

[2019-09-25 14:20] valfirst commented on #161
@Shardeboomi what is your issue? could you please provide details?

[2019-09-25 14:39] Shardeboomi commented on #161
webelements are defined like below
private static BaseTextBox password = new
BaseTextBox("input[placeholder='Password']", "css");
when i pass  password    in takescreenshot method, i get error that this
method accept webelements.

On Wed, Sep 25, 2019 at 10:21 AM Valery Yatsynovich <
notifications@github.com> wrote:

[2019-09-25 14:43] valfirst commented on #161
@Shardeboomi please provide error details

[2019-09-25 14:48] Shardeboomi commented on #161
[image: image.png]

On Wed, Sep 25, 2019 at 10:43 AM Valery Yatsynovich <
notifications@github.com> wrote:

[2019-09-25 15:35] valfirst commented on #161
@Shardeboomi it seems you tried to attach image, but it's not shown

[2019-09-25 15:36] valfirst commented on #152
@Shardeboomi is the issue reproduced?

[2019-09-26 12:19] valfirst commented on #161
@Shardeboomi please provide error details

[2019-09-26 23:01] #122 closed, assigned to nobody

[2019-10-11 09:11] a13xh7 opened #169 "I am getting empty black areas sometimes at screenshot end"
Hello.

I have a problem when making full page screenshots in chrome headless mode.

There are empty black areas sometimes, at screenshot end.

![index_page__360](https://user-images.githubusercontent.com/47336351/66639710-0b0caf00-ec20-11e9-8ff0-22eaa8894820.png)

This is my java code

`
actualScreenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(100)).takeScreenshot(driver

[2019-10-11 09:16] valfirst commented on #169
@predewill can you provide website to reproduce the issue? also do you use mobile emulation in chrome?

[2019-10-11 09:19] a13xh7 commented on #169
@valfirst
website - -----
no, I don't use mobile emulation, just changed browser window width to 360px and 768px

[2019-10-11 09:22] valfirst commented on #169
@predewill which `element` are you using here?

[2019-10-11 09:41] a13xh7 commented on #169
@valfirst

sorry, wrong code

`actualScreenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(100)).takeScreenshot(driver);
        actualFile = new File(Config.pathToActual() + fileName + ".png");`

[2019-10-19 16:55] anandbhagwat opened #170 "Allow withIgnoredColor() method to have RGB colorCode Value Support"
This Method :
        ImageDiffer imgdiffer = new ImageDiffer().withIgnoredColor(Color.RED);

Above method only support Color Name but not the exact Color Code

[2019-10-21 07:53] valfirst commented on #170
@anandbhagwat use the corresponding `Color` constructor to create RGB-based instances: https://docs.oracle.com/javase/8/docs/api/java/awt/Color.html#Color-float-float-float-

[2019-10-21 07:53] #170 closed, assigned to nobody

[2019-10-22 17:49] tstutson opened #171 "PDF viewed in browser not taking fullscreen snapshot"
[code]

Only takes a snapshot of the top of the page. Im assuming this will not work with a pdf viewer?

[2019-10-23 09:19] Chaitalii commented on #118
even with
Screenshot myScreenshot = new AShot().coordsProvider(new WebDriverCoordsProvider()).takeScreenshot(driver, specificElemement);

screenshot is not captured.
Does someone know the solution?

[2019-10-23 09:28] valfirst commented on #118
@Chaitalii please provide details: website URL, element locator, code snippet, any logs if you have

[2019-10-23 10:27] Chaitalii commented on #118
@valfirst thanks for the reply.
For making POC, I tried with the simplest of simplest case: capture screenshot of google logo.
Also, I am attaching the POM from my project just in case you want to see the versions involved.

[pom.txt](https://github.com/pazone/ashot/files/3761789/pom.txt)

driver.get("http://www.google.com");

		WebElement element = driver.findElement(By.xpath("//div[@id='lga']//i

[2019-10-29 13:44] osyanin commented on #161
I hope this helps

Example from Selenide:

`open();`

`        WebElement expectedElement = $(cssSelector);`

`        Screenshot main = new AShot()`
`                .coordsProvider(new WebDriverCoordsProvider())`
`                .takeScreenshot(getWebDriver(), expectedElement);`

[2019-10-29 13:46] valfirst commented on #161
@osyanin what is an error you are facing with?

[2019-10-29 14:10] osyanin commented on #161
Sorry, didn' tagged.
It was example for @Shardeboomi

[2019-10-30 07:16] #161 closed, assigned to nobody

[2019-11-19 11:18] rajavkp commented on #120
Actual Image
![Actual](https://user-images.githubusercontent.com/38759141/69142182-47b7aa00-0aec-11ea-89d1-b153d1a1cb99.png)
Expected Image
![Expected](https://user-images.githubusercontent.com/38759141/69142184-48504080-0aec-11ea-9e6e-a1ba28e41c0d.png)
Difference Between 2 Images
![Difference](https://user-images.githubusercontent.com/38759141/69142183-47b7aa00-0aec-11ea-8627-f1a21dcccf44.png)

/

[2019-11-20 12:50] musiro77 commented on #117
do you have a solution? I know it's long time

[2019-11-20 13:05] valfirst commented on #117
@musiro77 could you please provide steps to reproduce?

[2019-11-27 11:08] knsaicharan commented on #153
@valfirst Thanks for replying, No the issue has been solved.

[2019-11-27 11:08] #153 closed, assigned to nobody

[2019-11-29 21:30] nicodn opened #172 "Support for cutting out elements from screenshot"
Hello, thanks for the nice library!

I wanted to ask if ashot supports anything like cutting out elements from a screenshot regardless of the comparison situation. For example I'd like to take screenshots with elements removed or blocked out.
I wrote a quick snippet and I'm able to do this like so:
[code]
Then I call it:
[code]

Is there support for this already and I'm missing it? If not, where w

[2019-12-02 06:07] knsaicharan opened #173 "Unable to click on a button using Content-desc in appium"
I'm new to testing in Appium. I was able to set everything up and to run the test. I used UiAutomatorViewer to get access to some Buttons, now I need to Click on a Button, but I just got the Cont-desc. **I tried the following XPaths but I ended up getting an error**. Any Help would be nice.

1. @FindBy(xpath = "//*[@contentDescription='SIGN IN     log in ']")
2. driver.FindElement(By.XPath("//andr

[2019-12-02 06:09] valfirst commented on #173
@knsaicharan how is it related to AShot project? Could you please provide any details?

[2019-12-02 06:14] knsaicharan commented on #173
@valfirst oh.. I'm sorry it's by mistake I've mentioned in this project. It's actually an issue on the mobile automation project which I'm working currently on.

[2019-12-02 06:14] #173 closed, assigned to nobody

[2019-12-03 00:08] nicodn commented on #172
I think I've found a better way using an `ImageCropper`:

[code]

Does this make more sense?

[2019-12-03 07:11] valfirst commented on #172
@nicodn IMHO any of the provided solutions is ok, if it leads the required result, do you have any particular issues or problems?

[2019-12-03 15:20] nicodn commented on #172
Nope, I just wanted to make sure the approach made sense and felt like sharing this idea - I think it could combine well with the feature that ignores based on pixels of predefined color too

It seems to be working now with the second approach, thanks @valfirst

[2019-12-03 15:20] #172 closed, assigned to nobody

[2019-12-13 12:14] osyanin commented on #146
[code]

[2019-12-13 12:18] valfirst commented on #146
@osyanin which memory options do you use for your Java process running tests?

[2019-12-13 12:26] osyanin commented on #146
[code]

Environment: Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz with 4 core and hyperthreading, and 32 gb of RAM + ssd hard drive

[2019-12-13 12:34] valfirst commented on #146
@osyanin  `org.gradle.jvmargs`  specifies the JVM arguments used for the Gradle Daemon, not for tests, see https://docs.gradle.org/current/userguide/build_environment.html for more details.

For tests configuration options check https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.Test.html

[2019-12-13 12:59] osyanin commented on #146
It helped, thanks! @valfirst

[2019-12-13 22:26] valfirst commented on #152
Closing due to inactivity

[2019-12-13 22:26] #152 closed, assigned to nobody

[2019-12-13 22:26] valfirst commented on #149
Closing due to inactivity

[2019-12-13 22:26] #149 closed, assigned to nobody

[2019-12-13 22:31] valfirst commented on #115
@Aathimanirajb could you please provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/) ?

[2019-12-13 22:41] valfirst commented on #143
@smiryala  could you please provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/) ?

[2019-12-26 13:34] arjundabra commented on #131
I am facing the same problem. Any ideas how to solve this issue ?

[2019-12-30 14:20] tmshft opened #182 "page_dimensions.js does not work on IE"
Hi.

`ViewportPastingDecorator.getScreenshot`does not work on IE.

I think it is caused by  javascript error on IE.

[code]

On `page_dimensions.js` , below code makes a Javascript Error.
[code]

and this code works correctly.
[code]

I hope that you may fix it and release ver 1.6.0.

## Environment

aShot:SNAPSHOT-1.6.0
OS:Windows10
Browser:IE11
Java:AdoptOpenJDK1.8.0.222
Selenium:3.14.15xx

[2019-12-30 16:08] #182 closed, assigned to nobody

[2020-01-03 07:29] tmshft commented on #182
@pazone @valfirst
great thx!!

[2020-01-15 11:26] SheffBRC opened #184 "Black areas in screenshot at small(mobile) resolutions"
`actualScreenshot = ashot.coordsProvider(new WebDriverCoordsProvider()).shootingStrategy(ShootingStrategies.viewportPasting(1000)).takeScreenshot(driver, driver.findElement(By.cssSelector(selector)));`

When I try capture single elements problem is appear also. As i mind It depends on viewport pasting value. But what value should be?

![image](https://user-images.githubusercontent.com/15000715/724

[2020-01-15 12:21] valfirst commented on #184
@SheffBRC

Are you talking about `ShootingStrategies.viewportPasting(1000)`? `1000` is a wait time between 2 scrolls in milliseconds. I don't think it may somehow introduce such black bars on screenshots.

Could you please provide full example to reproduce the issue? (code snippet, browser/device configuration, etc.)

[2020-01-15 12:39] SheffBRC commented on #184
You're right, but changing of this value affects the black bars size
[MainPageTest_WoM.zip](https://github.com/pazone/ashot/files/4064908/MainPageTest_WoM.zip)

url - http://watchesofmayfair.com/

[2020-01-15 14:10] valfirst commented on #184
@SheffBRC I recommend to provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/) in future, the code from the attached neither short nor self contained.

However I've tried to open http://watchesofmayfair.com/, and I see that the size of the page is changed dynamically in mobile resolution. It's caused by the animation in the slider on the page top. It's not an

[2020-01-15 14:11] #184 closed, assigned to nobody

[2020-01-15 14:15] SheffBRC commented on #184
@SheffBRC
I'm removing animation banner on the top before each capture

`	private void removeBanner() {
		JavascriptExecutor js= (JavascriptExecutor) driver;
		js.executeScript("jQuery('.top-banner').remove()");
	}
`

You can't see it on image of first post

[2020-01-15 14:19] valfirst commented on #184
@SheffBRC in this case please provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/).

[2020-01-15 14:26] valfirst commented on #184
@SheffBRC checking the provided code I can see:
[code]
`scroll` is always `false`, so `removeBanner` is not invoked

[2020-01-15 14:27] SheffBRC commented on #184
**WebDriver:**

`		ChromeOptions ChromeOptions = new ChromeOptions();
		ChromeOptions.addArguments("window-size=375,667", "--no-sandbox");
		ChromeOptions.addArguments("--headless");
		driver = new ChromeDriver(ChromeOptions);
`

**Screen Capture:**

`Screenshot actualScreenshot = ashot.coordsProvider(new WebDriverCoordsProvider()).shootingStrategy(ShootingStrategies.viewportPasting(vportPast)).ta

[2020-01-15 14:43] SheffBRC commented on #184
@valfirst
Yes, I'm really forget set scroll to true... Thank you so much and excuse me for troubling

[2020-01-31 16:03] guda commented on #116
If solution from natalygoloborodko doesn't work try:
[code]

[2020-02-04 21:19] stubbsyy opened #187 "Take screenshot of floating popup"
Is there a way to take an image of a popup at the top, but ignore it when the screen scrolls and the popup follows the scroll?

[2020-02-04 21:21] valfirst commented on #187
Do you have a sample page and an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/) ?

[2020-02-05 15:37] stubbsyy commented on #187
Thank you for the quick reply. I was actually able to get it figured out. I had a memory leak with using an excel workbook that was causing the shot utility to slow down. Once I figured out the memory leak with excel everything started working perfectly.

[2020-02-05 15:42] #187 closed, assigned to nobody

[2020-02-08 05:09] jfisher446 commented on #147
I'm also unable to take a screenshot of an isolated WebElement. The whole page captures, instead.

[2020-02-11 11:15] shaileshoptimizeq opened #188 "Ashot is failing to take coordinate/Screenshot in chrome 79.0.3945.130 and selenium 3.141.59"
I have encountered a weird problem while working with AShot. Ashot works fine for whole screenShots but while selective screenShot is BAD. It throws error in CoordsProvider Class while getting co-ordinates of element.

public abstract class CoordsProvider implements Serializable {

public abstract Coords ofElement(WebDriver driver, WebElement element);

public Set<Coords> ofElements(WebDriver driv

[2020-02-11 19:43] valfirst commented on #188
@shaileshoptimizeq use [WebDriverCoordsProvider](https://github.com/pazone/ashot/blob/master/src/main/java/pazone/ashot/coordinates/WebDriverCoordsProvider.java) instead of [JqueryCoordsProvider](https://github.com/pazone/ashot/blob/master/src/main/java/pazone/ashot/coordinates/JqueryCoordsProvider.java). Also you use a quite old version of the library, the default behavior already has been change

[2020-02-12 10:45] shaileshoptimizeq commented on #188
[code]
I am using V 1.54 I guess which is latest one in maven repo.
ScreenShot here [https://i.stack.imgur.com/dQeCK.png](url)
My question [https://stackoverflow.com/questions/60167466/org-openqa-selenium-javascriptexception-javascript-error-is-not-defined-erro](url)
need your help on this.

[2020-02-12 11:08] valfirst commented on #188
@shaileshoptimizeq according to your stack trace:

you use `1.5.2`, not `1.5.4`

\
Just to clarify: the default behavior is changed, but not released, so you can use snapshots or follow my first recommendation:

[2020-02-12 13:18] shaileshoptimizeq commented on #188
yes i, have changed to 1.5.4 then also but is no good. i have given url just copy paste and verify it.and how do i change Internal implementation of AShot.class file.

[2020-02-12 13:41] valfirst commented on #188
@shaileshoptimizeq obviously you need to use setter: [AShot.java#L33](https://github.com/pazone/ashot/blob/master/src/main/java/pazone/ashot/AShot.java#L33)

[2020-02-13 07:58] #188 closed, assigned to nobody

[2020-02-17 20:47] nibus1034 commented on #169
Any solutions for removing the black areas in screenshots.. I have faced similar screenshot issue while taking snaps of iframe pages in my client url.
@valfirst please help in solving the issue..

[2020-02-20 13:35] varshasaha opened #189 "addIgnoredElement and setIgnoredAreas on screenshots still creating diff"
I have added both of these in my code, still this produces a diff.
Attaching code for reference,

[code]

[2020-03-19 08:04] jbadeau commented on #189
I have noticed that only css selector based ignore works. When using other selector types, the ignore bounds are there there but not at the correct coordinates. I have my written my own image compare tool and it suffers from issue so I think the root is in the webdriver get coords.

[2020-03-19 08:04] jbadeau commented on #189
Have you solved this? I will look into it of not

[2020-03-19 08:25] Rndl99 opened #190 "Right side of full page screenshot is cut off"
Using https://jquery.com/ as an example. Driver for Chrome version 80.***

    System.setProperty("webdriver.chrome.driver",  args[0]);

        ChromeOptions options = new ChromeOptions();
        options.addArguments("start-maximized");
        options.addArguments("start-fullscreen");
        options.addArguments("disable-infobars");
        options.addArguments("--disable-extensions");

[2020-03-19 12:10] kazurayam commented on #190
Windows 10 display scaling affects to the screenshots taken by AShot.

Please have a look at the following post in the Katalon Studio User Forum. I used AShot to take screenshots and experiences the same issue as above.

https://forum.katalon.com/t/taking-entire-page-screenshot-using-ashot-in-katalon-studio/12429/14

My workaround was to set the Display Scaling to be 100%.

[2020-03-20 07:22] ewelinqa commented on #132
Hi!
@GarryGaGarry @Kiera11 I'm trying to find some information or examples of using shootingStrategy and compileIgnoredAreas. I want to ignore some elements from my screenshot (WebElements)... and I can't do it. Did you make it? Could you please explain to me how did you use it? I will be grateful!

[2020-03-30 14:07] varshasaha commented on #189
Hey! No I could not solve this yet, the coords are definitely wrong, but could not figure out why.

[2020-03-30 14:21] jbadeau commented on #189
I ended up using the jquery provider. Jquery can be injected if your site doesn’t use it

[2020-04-06 11:16] priceey opened #191 "Issues when comparing images that have been scrolled"
Hello,

I'm currently trying out ashot to take some comparison images on a website.

I have managed to make a screen shot where the page scrolls with

 Screenshot entirePageScreenShot = new AShot().shootingStrategy
                (ShootingStrategies.viewportRetina(100, 0, 0, 2)).takeScreenshot(driver);

However when I do

ImageDiff diff = new ImageDiffer().makeDiff(screenShotImage, libraryImagePn

[2020-04-07 08:34] bokala123 opened #193 "NullPointerException When ScreenShot"
When I use AShot to Shot Screen,error is exit.
My source:
private void captureImage(WebDriver driver, String filePath, float quality) throws IOException {
    JPEGImageWriteParam param = new JPEGImageWriteParam(Locale.getDefault());
    param.setCompressionMode(ImageWriteParam.MODE_EXPLICIT);
    param.setCompressionQuality(quality);

    // 150はミリ秒でスクロールを待つ時間、短すぎるとダメな模様
    **ShootingStrategy ss

[2020-04-22 18:13] varshasaha commented on #157
I am facing the same issue, how should we use setDiffSizeTrigger, is there any threshold to comparison we can give, like fail if 90% of image doesn't match, right now it fails even if the text shifts a bit

![clickOnSellerDetails_diffImage](https://user-images.githubusercontent.com/6651157/80017976-feccad00-84f2-11ea-8e14-64689c511772.png)

[2020-04-24 08:29] pythonmeister-zz opened #194 "Augmenter should be applied to the instances of @Augmentable classes or previously augmented instances only"
I get the following error:

org.openqa.selenium.remote.Augmenter     : Augmenter should be applied to the instances of @Augmentable classes or previously augmented instances only (instance class was: class org.openqa.selenium.chrome.ChromeDriver)

Selenium version 3.141.59.

[2020-04-24 08:32] pythonmeister-zz commented on #194
Problem disappears by using ashot 1.5.4.

[2020-04-24 08:32] #194 closed, assigned to nobody

[2020-04-29 16:09] prateek-mehta opened #195 "Image Comparison failing"
I am capturing image of elemnt and that same time taking same image and comparing both the images then i am getting that images are identical but when i am doing same process and saved one ss and again following same procedure and taking ss then it is saying image difference

[2020-04-29 16:15] valfirst commented on #195
@prateek-mehta could you please provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/) ?

[2020-04-29 16:26] prateek-mehta commented on #195
I am attaching some images so that you can relate i tried to find what is actual difference also
![actualFieldEditedImage](https://user-images.githubusercontent.com/59059612/80620940-422f9a00-8a64-11ea-921f-bd979f4e20dc.png)
![differenceFieldEditedImage](https://user-images.githubusercontent.com/59059612/80620942-4360c700-8a64-11ea-95e3-951d7b49babf.png)
![expectedFieldImageEditedPage](https://use

[2020-04-29 16:27] prateek-mehta commented on #195
First and third image are exactly same but still giving difference

[2020-04-29 16:29] valfirst commented on #195
@prateek-mehta images are not enough, please use SSCCE reference for the guidance

[2020-04-29 16:31] prateek-mehta commented on #195
I have used the code for capturing ss first of particular ss let suppose ss1 and at same time when i compared with runtime image captruing same image it worked fine showed no difference but then i saved image1 ss in my folder and second time again went to same page and captured ss again but this time it showed me image has some difference

[2020-04-29 16:31] prateek-mehta commented on #195
Is it possible to neglect small difference?

[2020-05-05 20:54] pazone commented on #195
@prateek-mehta I assume your image is in jpeg or in other format with fuzzy rendering, right? You can specify the `diffSizeTrigger` to your `DiffMarkupPolicy`.

[code]

[2020-05-05 21:00] pazone commented on #195
I would close it if you don't mind.

[2020-05-05 21:00] #195 closed, assigned to nobody

[2020-05-05 22:44] jayantsarda opened #196 "Taking element screenshot with ChromeEmulation"
Hi am sure there should be some configuration which i was unable to figure out. I am running my chrome driver with capability set as
`ChromeOptions.CAPABILITY, chromeOptions("Google Nexus 6P")`
This runs my webpage in mobile emulation. While. taking screen shot for the page momentarily zooms out and than it takes screen shot. it some times capture the proper element size or some times it captures

[2020-05-09 12:19] #139 closed, assigned to nobody

[2020-05-12 18:42] vergilfrans commented on #112
I trying to use ashot for mobile applications. I used Mobiledriver instead of webdriver but so far, no luck.  Is it working for anyone?

[2020-05-12 21:00] jayantsarda commented on #112
ShootingStrategies class of ashot has implementations for various iOS and Android(nonRetina) did you gave a try to those ?

[2020-05-12 21:58] vergilfrans commented on #112
Hi Jayantsarda, I was not aware of it.  I will try shootingstrategies...Thank you very much for sharing this info.
I have to take screenshot of the webelements(icons, images, logos) and compare them with the actual images. Guess, I am trying the right set of tools - katalon studio, appium with ashot. Kindly guide me if you have better solutions.

[2020-05-12 23:48] jayantsarda commented on #112
As far as I have understood the Ashot lib so far :
1. It needs a shooting strategy to adjust how and where you want to take screenshot and takes care of your aspect ratio , retina display etc
2. It captures the screen shot for the whole screen (under the hood it used webdriver screenshot capture utility or using java script.  You can implement your own screen capture utility
3. It tries to find th

[2020-05-13 10:34] vergilfrans commented on #112
Hi,

Thank you very much for the step-by-step explanation on how Ashot works. I
will explore further based on your guidance.

On Wed, May 13, 2020 at 12:49 AM jayantsarda <notifications@github.com>
wrote:

[2020-06-02 14:42] PanktiDShah commented on #107
Hello,

I am using following code;
Screenshot screenshot = new AShot().shootingStrategy(ShootingStrategies.viewportPasting(1000)).takeScreenshot(driver);

I am getting exception;
java.lang.NoSuchMethodError: org.apache.commons.io.IOUtils.toString(Ljava/io/InputStream;Ljava/nio/charset/Charset;)Ljava/lang/String;

I have added following required dependency;
<dependency>
    	<groupId>commons-io</gr

[2020-06-02 15:22] fescobar commented on #107
Try with this or share a small version of your project
[code]

[2020-06-02 15:48] PanktiDShah commented on #107
I tried updating with above dependency but I am still seeing the same issue. I am adding the method I am using to capture screenshot and TestNG trace.
Can you please review the same? Also let me know if more details are required. Thanks

**Method**
import java.awt.image.BufferedImage;
import java.io.File;
import java.text.SimpleDateFormat;
import java.util.Date;
import javax.imageio.ImageIO;
impor

[2020-06-02 15:50] fescobar commented on #107
I need the project to check everything in my machine. Otherwise, it's not easy to help you @ PanktiDShah

[2020-06-02 16:07] PanktiDShah commented on #107
Thank you so much @fescobar for your help. I am not allowed to share project due to security reasons.

However; I will try and check other dependencies and keep you posted here if I find something. Thanks again for your time.

[2020-06-02 16:20] fescobar commented on #107
@PanktiDShah Try with `mvn dependency:tree -Dverbose` maybe can help you to find the miss dependency.

[2020-06-30 08:41] Anoopkumars commented on #120
Please help, am getting similar issue where i want to know diffrence in image. Not sure how to do it.

[2020-06-30 14:10] Anoopkumars commented on #126
Am too facing this issue, but i can't make above javascript executor logic. As my utility will capture and compare diffrent webpage every time.
Any leads will be highly appreciated as i have already spent many hours and still clueless to handle this.

[2020-06-30 17:36] rajavkp commented on #120
Ya sure. You can refer my above code. Still if you have any double. Please mention here.

[2020-07-04 08:17] JonCook opened #197 "Any plans for a 1.5.5 release?"
I see many commits to master since the 1.5.4 release. Is there some plan to do a 1.5.5 release in some moment.

This is more a question than an issue.

Thanks.

[2020-08-12 12:23] jamessri27 opened #198 "Unable capture full screen shot of the webpages"
Hi All,

I have written the below code to capture the entire web page.

when i'm running the script on windows via eclipse , the screenshot is not captured properly, please refer to the screenshot .png
<img width="961" alt="screenshot" src="https://user-images.githubusercontent.com/69584836/90014288-67b77b00-dcc4-11ea-9e16-b9eedb110cc1.PNG">

Please find the code : Screenshot Screenshot = new

[2020-08-19 14:25] Chankami commented on #191
@priceey Did you find a solution for this issue. I'm also facing the same.
Can you pls help

[2020-09-17 09:00] rahulkumarVassar commented on #123
any solution?

[2020-09-17 09:15] valfirst commented on #123
This error means that Hamcrest library dependency is not in the classpath, you should add missing dependency to fix the issue

[2020-09-25 07:25] santhosh12992 opened #200 "Evaluating ashot for visual testing"
Hi,

I am evaluating the options that we have to add visual testing along with selenium webdriver. I see there are only two options as of now.
1. Apli tools.
2. Ashot.

Apli tools provide layout testing support. basically, it is capable of ignoring the texts and just compare the layouts. They provide many comparison levels such as pixel by pixel.

I am interested in the layout part and just wonder

[2020-10-23 09:44] priyanka-tomer opened #201 "Getting error while taking screenshot in mobile for failed test case using ITestLister "java.lang.NullPointerException at Qaddoo.BaseMethod.getScreenshot(BaseMethod.java:63)" even i have initialize the driver"
My code:

TestNG version:7.3.0
Appium client:7.3.0
java:8
Selenium jar:3.141.59

package Qaddoo;

import java.io.File;
import java.io.FileInputStream;
import java.io.IOException;
import java.net.URL;
import java.util.Properties;

import org.apache.commons.io.FileUtils;
import org.openqa.selenium.OutputType;
import org.openqa.selenium.TakesScreenshot;
import org.openqa.selenium.remote.DesiredCapabi

[2020-10-23 10:39] valfirst commented on #201
`driver` variable is not initialized at line:
[code]
that leads to `NullPointerException`

[2020-10-23 10:39] #201 closed, assigned to nobody

[2020-10-26 17:08] sachinboob commented on #190
Setting the Display Scaling to 100% worked for me as well.

[2020-10-28 05:43] priyanka-tomer commented on #201
@valfirst I initialize the driver in base class public static AndroidDriver<AndroidElement>  driver; but still return null pointer exception, Could you please assist how can i intiaze the driver here to overcome the null pointer exception error.

[2020-10-28 05:45] priyanka-tomer opened #202 "@valfirst I initialize the driver in base class public static AndroidDriver<AndroidElement> driver; but still return null pointer exception, Could you please assist how can i intiaze the driver here to overcome the null pointer exception error."
@valfirst I initialize the driver in base class public static AndroidDriver<AndroidElement>  driver; but still return null pointer exception, Could you please assist how can i intiaze the driver here to overcome the null pointer exception error.

_Originally posted by @priyanka-tomer in https://github.com/pazone/ashot/issues/201#issuecomment-717712588_

[2020-10-28 08:12] valfirst commented on #201
the provided code doesn't have `driver` field initialization

[2020-10-28 08:12] valfirst commented on #202
Not an issue. Closing

[2020-10-28 08:12] #202 closed, assigned to nobody

[2020-12-12 02:15] kriegaex opened #203 "Commit "Optimize calculation of element coordinates" broke PhantomJS compatibility"
Relating to a discussion starting at https://github.com/pazone/ashot/pull/133#issuecomment-742951302, I want to provide more details. But first let me repeat the basic information from there:

Later in the discussion I offered:

The latter is what I did. I bisected from 1.5.4 to the current HEAD and found the exact commit which broke PhantomJS support. If you happen to not know what `git bisect` d

[2020-12-12 02:28] kriegaex commented on #203
Okay, the PR was not so difficult after all because the commit which caused the problem was small.

[2020-12-20 21:59] suneel944 commented on #126
@Anoopkumars and @maheshme12
If you are still facing the issue then trying out the slightly modified answer of @natalygoloborodko will work

1. If the header is not the point of interest which has to be captured, then simply hide the header through css and capture the page
`JavascriptExecutor js = (JavascriptExecutor) webDriver;
                js.executeScript("document.head.appendChild(document.

[2021-01-22 12:38] #203 closed, assigned to nobody

[2021-02-22 12:06] sreekar878 commented on #107
can someone help me with this --
Code :

   driver.findElement(By.id("Opportunity_Tab")).click();
	     Thread.sleep(2000);
	     **Screenshot s=new AShot().shootingStrategy(ShootingStrategies.viewportPasting(1000)).takeScreenshot(driver);**
	     try {
			ImageIO.write(s.getImage(),"PNG",new File(path+"screenhot1.png"));
		} catch (IOException e) {
			// TODO Auto-generated catch block
			e.print

[2021-02-22 15:07] valfirst commented on #107
@sreekar878 the error means that either you use the invalid version of `commons-io` dependency or the dependency is not present in the classpath

[2021-02-23 03:18] sreekar878 commented on #107
@valfirst  Hey, can you help me with the correct version of commons-io or steps u feel I would have missed in setting the classpath for the dependency.

Thanks in advance.

[2021-03-03 13:49] m3hdiii commented on #131
Same problem here..

[2021-03-16 09:23] puoski commented on #191
@priceey I don't know if you have solved this or still need help with it, but I solved this exact problem with setting the window to point (0,0) after starting web driver. So I just used something like: driver.manage().window().setPosition(new Point(0, 0)). This removed the problem with tiny differences in the footer for me.

[2021-03-22 13:48] Purushotham230 opened #206 "How to use Ashot to capure a windows element for desktop application???"
In my project, i have a requirement to capture a windows element (gridtable) , but unable to use Ashot for that. For example :
I'm using selenium+ winapp to automate notepad, there I want capture text area when we sent keys. is that possible to capture using Ashot?

[2021-03-22 14:05] Purushotham230 opened #207 "How to use Ashot for desktop Application (Win app +Selenium +Java)?"
In my project, i have a requirement to capture a windows element (gridtable) , but unable to use Ashot for that. For example :
I'm using selenium+ winapp to automate notepad, there I want capture text area when we sent keys. is that possible to capture using Ashot?

[2021-04-29 10:01] apathan123 opened #209 "Changing color of diff marking"
HI Is it possible to mark differrences in some other color tahn red. I ahve lot of red elements on screen and its difficult to spot the differrrnece at times.

[2021-04-29 10:33] valfirst commented on #209
yes, it's possible:
https://github.com/pazone/ashot/blob/41a81919b40cc745d0652eae487e1f2ff54c5c41/src/main/java/pazone/ashot/comparison/DiffMarkupPolicy.java#L23-L26

[2021-04-29 11:06] apathan123 commented on #209
THanks for teh swift response.
Can you help me get this in code. Apologies but not very sure if I am doing
it correctly

ImageDiff diff = (new ImageDiffer()).makeDiff(actual,
expected).withDiffSizeTrigger(200);
BufferedImage diffImage = diff.getMarkedImage();

On Thu, Apr 29, 2021 at 4:04 PM Valery Yatsynovich ***@***.***>
wrote:

[2021-04-29 12:36] valfirst commented on #209
Just set pre-configured `DiffMarkupPolicy`:
https://github.com/pazone/ashot/blob/41a81919b40cc745d0652eae487e1f2ff54c5c41/src/main/java/pazone/ashot/comparison/ImageDiffer.java#L47-L50

[2021-04-29 17:12] apathan123 commented on #209
Thanks so much. Got it working!

[2021-04-29 17:12] #209 closed, assigned to nobody

[2021-05-22 13:22] anilparkin opened #216 "Javascript support"
Hello,

Is there any plan to publish the Node Js version of the library. Currently it is only available for Java.

[2021-06-14 07:39] amit227 opened #226 "Ashot with IE11 taking partial image with black spot in rest of the scrolled area"
Hi ,

I am using selenium 4.0 and ashot 1.53 with IE 11
Full page screenshot is working fine withchrome and firefox but not with IE11.

Image is attached below from IE
![NTDotComVisualTest4 homePage4_Baseline](https://user-images.githubusercontent.com/22616784/121856016-a3bad280-cd11-11eb-8597-3310baec8ce2.png)

[2021-06-14 07:44] amit227 commented on #226
I have already tried
	Screenshot pageScreenShot = new AShot().shootingStrategy(ShootingStrategies.viewportRetina(1000, 0, 0, 2))
			.takeScreenshot(driver);
but did get any luck but the same code works with Chrome and Firefox for taking full page screenshot..

Could anyone please help ?

[2021-06-14 08:25] valfirst commented on #226
@amit227 could you please provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/)?

[2021-06-14 09:11] amit227 commented on #226
Hi @valfirst

I have prepared a demo code for you to understand my problem ,

**Below is AshotDemo.java Class where I am trying to launch a URL  and trying to take full Page screenshot with given browser using Ashot**

`package` com.ntrs.utils;

import java.io.File;
import java.io.IOException;
import java.util.concurrent.TimeUnit;

import javax.imageio.ImageIO;

import org.openqa.selenium.Javascri

[2021-06-15 06:16] amit227 commented on #226
Could anyone please help on above issue ?

[2021-06-28 16:34] abhishek140389 opened #230 "Null pointer Exception in ASHOT 1.5.4"
Hi Team,

i am unable to take full page screenshot , my code is below, i am using java 8.
     ChromeOptions options = new ChromeOptions();
      //options.addArguments("headless");
      driver = new ChromeDriver(options);
      driver.get("https://aib.ie");
      driver.manage().window().maximize();
     Screenshot screenshot=new AShot().shootingStrategy(ShootingStrategies.viewportPasting(1000))

[2021-07-27 18:28] apathan123 opened #234 "markign differrence with rectangle"
Is it possible to mark diff area with rectangle instead of some solid color
OR
is ti possible to get marking on x,y co ordinates in image where the diff is identified

[2021-08-05 05:59] apathan123 commented on #234
@valfirst  - CAn you please help me in this case

[2021-08-05 06:18] valfirst commented on #234
sorry, could you please elaborate on this?

do you need to get the coordinates `(x, y)` of the all found diffs?

[2021-08-05 23:20] mehak-arora commented on #118
Hi  i am unable to take the right screenshot locally and i am using Mac but if run my test in docker i am able to take the screenshot of the element .
WebElement logoImageElement = baseContext.driver.findElement(By.xpath("//div[@id='divLogo']//img"));
            Screenshot logoImageScreenshot = new AShot().coordsProvider(new WebDriverCoordsProvider())
                    .takeScreenshot(baseConte

[2021-08-06 07:28] valfirst commented on #118
@mehak-arora please provide actual and expected results

[2021-08-12 04:59] apathan123 commented on #234
Yes. Basically when there is very small diff on the screen then its difficult to locate. So if we can have the area of diff marked as rectangle that will be really helpful.

[2021-08-19 10:48] snehaagrawal6034 opened #239 "Black window appearing in screenshot"
Code to repro:
[code]

Final screenshot:
<img width="724" alt="AShot image_capture" src="https://user-images.githubusercontent.com/37449849/130056269-9b64e2fa-7fde-480c-99e1-20bcbbc8e5ec.PNG">

Version: 1.5.4

[2021-09-08 12:18] stamtesteng opened #247 "ignore element in current viewport"
I am using aShot for visual testing. https://github.com/pazone/ashot I have some pages that I am interested in taking the screenshot only for the current visible part of the page (and not having a full page screenshot). The problem is that if I add elements to be excluded from the page, then the elements will only be excluded from a screenshot that i have scroll up to the top of the full page.

Th

[2021-09-18 03:53] quockhanhle93 commented on #169
@predewill have you figured out the fix for this issue?

[2021-09-18 07:08] a13xh7 commented on #169
@quockhanhle93 no, I did not. I use my own library now.

[2021-09-19 08:44] quockhanhle93 commented on #169
Looks great @predewill. This repo is no longer maintained. Just switch to another or implement our library. I just found a possible open-source lib, just for your reference. It has fixed this issue completely. Take screenshot of the whole page using Chrome DevTools. This is applicable for Chrome only -> better performance as well. https://github.com/assertthat/selenium-shutterbug

[2021-09-22 07:43] qamatters opened #251 "Not sure how to use ignore element feature"
I am exploring ashot for visual testing in our project but it seems like this ignore element feature, is not very clear, because of that, we are not able to use it. Let me explain my use case:

I have a webpage where a image appears which I  want to exclude.

This is how I am taking screenshot:

`
public static Screenshot initiateImageCompareWithIgnoringElement() {
        return new AShot()

[2021-12-22 12:14] jaskaran0001 commented on #112
Is there any update on this:
Can we use Ashot to capture full-page scrolling screenshot for Native apps?
Is there any other library that supports this?

[2022-01-07 09:48] ClaudeJiang opened #274 "How to ignore fixed element when we using shootingStrategy to capturing the entire page."
The fixed element always above other elements when we used shootingStrategy to capturing the entire page.
How can we ignore it?

[2022-01-17 15:50] bloodgang94 commented on #274
Hiding an element before capturing, C# example
`((IJavaScriptExecutor)((IWrapsDriver)element).WrappedDriver).ExecuteScript($"arguments[0].style.visibility='hidden'", element);`

[2022-03-16 06:53] adrian-herscu commented on #234
<https://github.com/romankh3/image-comparison>
this one draws rectangles

[code]

[2022-03-16 08:28] apathan123 commented on #234
Thanks so much @adrian-herscu ! Will give a try but looks exactly
what I was looking for!

[2022-03-16 12:06] adrian-herscu commented on #234
You're welcome :)
Actually, I don't know why this library does comparison at all... Maybe join forces somehow?...

[2022-04-29 07:38] mayurbidkar opened #295 "ignoreElements not working"
Please check below snippet of code:

public void verifyMapLayout() throws IOException {
        String ignoreRefresh = "time[title]";
        String alertCritical = "div[class*='bg-critical']";
        String alertError = "div[class*='bg-error']";
        String alertWarning = "div[class*='bg-warning']";
        String alertSdt = "div[class*='bg-sdt']";
        String imgSrc = "img[id='companyLogo

[2022-05-10 05:41] AbhinayNegi opened #298 "Screen shot of an element is white."
On this webpage: https://www.selenium.dev/downloads/ I am trying to capture the screenshot of an element that is an img tag.
You can inspect : `img[alt='Java']`
This is the img element I want to capture.:
![image](https://user-images.githubusercontent.com/33023809/167548733-8bbf1e5a-01ca-48f7-a77c-426541b9f865.png)

So to capture the above element I wrote this code:
[code]

But when I opened the i

[2022-05-17 03:44] apathan123 opened #299 "withDiffSizeTrigger(int diffSizeTrigger) is nto working"
`Screenshot actualScreenshot = new Screenshot(ImageIO.read(actualFile));
		logger.debug(actualFile.getAbsoluteFile().getAbsolutePath());
		logger.debug(expectedFile.getAbsoluteFile().getAbsolutePath());
		Screenshot expectedScreenshot = new Screenshot(ImageIO.read(expectedFile));

		DiffMarkupPolicy dm = new PointsMarkupPolicy().withDiffColor(Color.RED);
		dm.setDiffSizeTrigger(202);

		try {
			I

[2022-05-17 05:56] apathan123 commented on #299
@adrian-herscu @valfirst  this is workign in other project though

[2022-05-17 07:18] apathan123 commented on #299
not sure how but this started workign now. So closing this issue

[2022-05-17 07:18] #299 closed, assigned to nobody

[2022-07-08 07:10] ravibabu101143 opened #313 "IE11: Full page screenshot not working.java.lang.ArithmeticException"
Hi,

I was trying to take full page screenshot and so far no luck. Versions i tried are 1.5.4,1.4.4,1.46.

I tried this and full page screenshot is not captured.
Screenshot  screenshot = (new AShot()).takeScreenshot(getDriver());

Then i tried this code getting java.lang.arithmeticexception error:

Screenshot  screenshot = new AShot().shootingStrategy(new ViewportPastingStrategy(1500)).takeScreens

[2022-07-08 09:05] valfirst commented on #313
@ravibabu101143 IE is dead: https://blogs.windows.com/windowsexperience/2022/06/15/internet-explorer-11-has-retired-and-is-officially-out-of-support-what-you-need-to-know/

[2022-07-08 16:37] ravibabu101143 commented on #313
Yes I am aware of that. But still Microsoft supporting launching  web applications in IE mode in edge

[2022-07-16 10:58] Monalisha575 opened #315 "Am too facing this issue, but i can't make above javascript executor logic. As my utility will capture and compare diffrent webpage every time."
Am too facing this issue, but i can't make above javascript executor logic. As my utility will capture and compare diffrent webpage every time.
Any leads will be highly appreciated as i have already spent many hours and still clueless to handle this.

_Originally posted by @Anoopkumars in https://github.com/pazone/ashot/issues/126#issuecomment-651816338_

[2022-08-18 18:43] SukhovDaniil commented on #169
`ShootingStrategies.viewportPasting(100)`
this is under the hood using ViewportPastingDecorator:
[code]
It uses js scripts for scrolling:
[code]
and getting Y coordinate:
[code]
In my case, these scripts did not work correctly with the front. it helped me to use a custom decorator inherited from ViewportPastingDecorator:
[code]
But I instantiated AShot a little differently:
[code]
I'm sorry for th

[2022-08-21 06:37] Brnd08 commented on #131
Me too
Please try to solve

[2022-08-30 15:17] AhmadiRamin opened #329 "any .net version?"
Hi,

Is there any .net version of this package? or anything similar that works with .Net?

[2022-10-07 10:50] AbhishekBaseshankar commented on #151
Call below method before taking screeshot to avoid the issue of getting crop images.
void ZoomOut() throws AWTException{
		Robot robot = new Robot();
		for (int i = 0; i < 5; i++) {

				robot.keyPress(KeyEvent.VK_CONTROL);
				robot.keyPress(KeyEvent.VK_SUBTRACT);
				robot.keyRelease(KeyEvent.VK_SUBTRACT);
				robot.keyRelease(KeyEvent.VK_CONTROL);

			}
	}

[2022-10-18 10:41] Aasu29 opened #338 "Is there any support to android espresso/uiautomator, I tried but BufferedImage & ImageIO not supported in android"
tired other way to set images path but it does not support with makeDiff method. Is there any support for File path ?
if I use path then error is Cannot resolve method 'makeDiff(java.lang.String, java.lang.String)'
code use as file path but does not work-
        File sdCard = Environment.getExternalStorageDirectory();
        String path1, path2;
        path1 = sdCard.getAbsolutePath() + "/1.jpg